.vscode/
ML/p
*.log
log/
logs/
debug/
Discord Bot/.env
PAPR4/cv/PMM/MDT/.vs/MDT/v16/.suo
PAPR4/cv/PMM/MDT/MDT.sln
DATA1_Databázové systémy 1/get_files.txt
Operační systémy 2/Ukoly/OS2-ProcessPipe05/.vs/OS2-ProcessPipe05/v16/Browse.VC.opendb
.vs/
Python Projects/web_scrap.zip
Python Projects/web_scrap/chromedriver.exe
Python Projects/web_scrap/how.txt
Python Projects/web_scrap/main.py
Operační systémy 2/OS2NetrebaLukas07.cpp
DATA1_Databázové systémy 1/Riegel.sql
DOVY_Dovednosti vývojáře/Enterprise Architect/easetupfull.exe
DOVY_Dovednosti vývojáře/Enterprise Architect/Key.txt
Python Projects/python_basics_lectures/Tomáš Mikula - 1. Úvod a základy jazyka Python.html
Python Projects/python_basics_lectures/Tomáš Mikula - 1. Úvod a základy jazyka Python_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 1. Úvod a základy jazyka Python_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 1. Úvod a základy jazyka Python_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 1. Úvod a základy jazyka Python_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 1. Úvod a základy jazyka Python_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 11. Ostatní moduly standardní knihovny.html
Python Projects/python_basics_lectures/Tomáš Mikula - 1. Úvod a základy jazyka Python_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 11. Ostatní moduly standardní knihovny_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 11. Ostatní moduly standardní knihovny_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 11. Ostatní moduly standardní knihovny_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 11. Ostatní moduly standardní knihovny_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 11. Ostatní moduly standardní knihovny_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 11. Ostatní moduly standardní knihovny_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 2. Sekvence a cykly.html
Python Projects/python_basics_lectures/Tomáš Mikula - 2. Sekvence a cykly_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 2. Sekvence a cykly_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 2. Sekvence a cykly_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 2. Sekvence a cykly_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 2. Sekvence a cykly_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 3. Funkce a moduly_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 2. Sekvence a cykly_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 3. Funkce a moduly.html
Python Projects/python_basics_lectures/Tomáš Mikula - 3. Funkce a moduly_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 3. Funkce a moduly_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 4. Výjimky a dekorátory_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 3. Funkce a moduly_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 3. Funkce a moduly_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 4. Výjimky a dekorátory.html
Python Projects/python_basics_lectures/Tomáš Mikula - 3. Funkce a moduly_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 5. Objektově orientované programování (OOP)_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 5. Objektově orientované programování (OOP)_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 5. Objektově orientované programování (OOP)_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 5. Objektově orientované programování (OOP).html
Python Projects/python_basics_lectures/Tomáš Mikula - 5. Objektově orientované programování (OOP)_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 5. Objektově orientované programování (OOP)_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 5. Objektově orientované programování (OOP)_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 4. Výjimky a dekorátory_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 4. Výjimky a dekorátory_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 4. Výjimky a dekorátory_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 4. Výjimky a dekorátory_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 4. Výjimky a dekorátory_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 6. Dunder metody a dekorátory tříd.html
Python Projects/python_basics_lectures/Tomáš Mikula - 6. Dunder metody a dekorátory tříd_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 6. Dunder metody a dekorátory tříd_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 6. Dunder metody a dekorátory tříd_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 6. Dunder metody a dekorátory tříd_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 6. Dunder metody a dekorátory tříd_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 7. Iterátory a comprehension_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 7. Iterátory a comprehension_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 7. Iterátory a comprehension_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 7. Iterátory a comprehension_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 7. Iterátory a comprehension.html
Python Projects/python_basics_lectures/Tomáš Mikula - 6. Dunder metody a dekorátory tříd_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 7. Iterátory a comprehension_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 8. Práce se souborovým systémem_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 8. Práce se souborovým systémem_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 8. Práce se souborovým systémem_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 8. Práce se souborovým systémem.html
Python Projects/python_basics_lectures/Tomáš Mikula - 7. Iterátory a comprehension_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 8. Práce se souborovým systémem_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 8. Práce se souborovým systémem_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 8. Práce se souborovým systémem_files/style.css
Python Projects/python_basics_lectures/Tomáš Mikula - 9. Itertools a funkce vracející iterátory_files/all.min.css
Python Projects/python_basics_lectures/Tomáš Mikula - 9. Itertools a funkce vracející iterátory_files/css2
Python Projects/python_basics_lectures/Tomáš Mikula - 9. Itertools a funkce vracející iterátory_files/hcj7kny.css
Python Projects/python_basics_lectures/Tomáš Mikula - 9. Itertools a funkce vracející iterátory.html
Python Projects/python_basics_lectures/Tomáš Mikula - 9. Itertools a funkce vracející iterátory_files/highlight.css
Python Projects/python_basics_lectures/Tomáš Mikula - 9. Itertools a funkce vracející iterátory_files/js
Python Projects/python_basics_lectures/Tomáš Mikula - 9. Itertools a funkce vracející iterátory_files/style.css
