.vscode/
ML/p
*.log
log/
logs/
debug/
Discord Bot/.env
PAPR4/cv/PMM/MDT/.vs/MDT/v16/.suo
PAPR4/cv/PMM/MDT/MDT.sln
DATA1_Databázové systémy 1/get_files.txt
Operační systémy 2/Ukoly/OS2-ProcessPipe05/.vs/OS2-ProcessPipe05/v16/Browse.VC.opendb
.vs/
Python Projects/web_scrap.zip
Python Projects/web_scrap/chromedriver.exe
Python Projects/web_scrap/how.txt
Python Projects/web_scrap/main.py
Operační systémy 2/OS2NetrebaLukas07.cpp
